* {
  background-color: rgb(10, 17, 17);
  color: lightgray;
}

header,
.blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

nav {
  justify-content: flex-end;
}

.blog-title {
  justify-content: start;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.blog-content-colors {
  color: lightgray;
  font-weight: bold;
  margin-left: -5px;
}
form .comment-input {
  display: block;
  width: 50%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}
